# .mailmap - Map all commits to the correct author identity

# Map all variations to the primary identity
zimingttkx <2147514473@qq.com>
dingziming <2147514473@qq.com> zimingttkx <2147514473@qq.com>

